html,
body,
main,
#map {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #fff;
    display: flex;
    flex-flow: column;
}


#info {
    position: fixed;
    z-index: 100;
    bottom: 1em;
    width: 24em;
    font-size: 1em;
    left: 1em;
    /* padding: 6px 8px; */
    background: rgba(255, 254, 254, .9);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    border-radius: 0.2em;
  }

/* #features {
    top: 0;
    height: 100px;
    margin-top: 20px;
    width: 300px;
} */



.restaurant {
    background-image: url('../assets/restaurant.svg');
    background-size: cover;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
  }

  .store {
    background-image: url('../assets/shop.svg');
    background-size: cover;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
  }

  .police {
    background-image: url('../assets/police.svg');
    background-size: cover;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
  }

  .mapboxgl-popup {
    max-width: 200px;
  }

  .mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
  }

  .form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }

  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }

  .form-container input[type=text],
  .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }

  .form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
  }

  .form-container .cancel {
    background-color: red;
  }

  .form-container .btn:hover,
  .open-button:hover {
    opacity: 1;
  }



/* the style of the layer control menu */
#menu {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    position: absolute;
    z-index: 1;
    top: 150px;
    left: 10px;
    border-radius: 15px;
    width: auto;
    border: 1px solid rgba(0, 0, 0, 0.4);
    font-family: 'Open Sans', sans-serif;
}


/* each layer on the menu */
#menu a {
    font-size: 13px;
    color: #404040;
    display: block;
    margin: 0;
    padding: 0;
    padding: 10px;
    text-decoration: none;
    border-radius: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    text-align: center;
}

/* the last item of the layer items will not include a seperator */
#menu a:last-child {
    border: none;
}

/* change color and background color while a pointer is on an hybrid link. */
#menu a:hover {
    background-color: #f8f8f8;
    color: #404040;
}

#menu a.active {
    background-color: #000000;
    color: #ffffff;
}

#menu a.active:hover {
    background: #000000;
}





#fit {
    align-items: center;
    appearance: none;
    background-color: #fff;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    display: block;
    fill: currentcolor;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    top: 20px;
    margin: 0px auto;
    text-align: center;
    width: auto;
    z-index: 0;
    }

  .v4_75 {
      width: 373px;
      height: 435px;
      /* background: url("../images/v4_75.png"); */
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      opacity: 1;
      position: relative;
      top: 0px;
      left: 0px;
      overflow: hidden;
  }
  .v4_74 {
      width: 361px;
      height: 435px;
      background: rgba(255, 254, 254, 1);
      opacity: 1;
      position: relative;
      top: 0px;
      left: 0px;
      border: 0.7118320465087891px solid rgba(0, 0, 0, 1);
      box-shadow: 0px 2.8473281860351562px 2px rgba(0, 0, 0, 0.25);
      overflow: hidden;
  }
  .v1_20 {
      width: 32px;
      height: 32px;
      background: rgba(0, 255, 209, 1);
      opacity: 1;
      position: absolute;
      top: 312px;
      left: 37px;
      overflow: hidden;
  }
  .v1_23 {
      width: 202px;
      color: rgba(0, 0, 0, 1);
      position: absolute;
      top: 223px;
      left: 132px;
      font-family: Inter;
      font-weight: Regular;
      font-size: 14px;
      opacity: 1;
      text-align: left;
  }
  .v1_24 {
      width: 202px;
      color: rgba(0, 0, 0, 1);
      position: absolute;
      top: 270px;
      left: 161px;
      font-family: Inter;
      font-weight: Regular;
      font-size: 14px;
      opacity: 1;
      text-align: left;
  }
  .v1_25 {
      width: 202px;
      color: rgba(0, 0, 0, 1);
      position: absolute;
      top: 318px;
      left: 170px;
      font-family: Inter;
      font-weight: Regular;
      font-size: 14px;
      opacity: 1;
      text-align: left;
  }
  .v1_5 {
      width: 35px;
      height: 35px;
      background: rgba(255, 255, 255, 1);
      opacity: 1;
      position: absolute;
      top: 165px;
      left: 33px;
      overflow: hidden;
  }
  .v1_6 {
    width: 35px;
    height: 35px;
    background: url("../assets/police.svg");
    background-size: 35px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .v1_7 {
      width: 17px;
      height: 20px;
      background: rgba(0, 0, 0, 1);
      opacity: 1;
      position: absolute;
      top: 7px;
      left: 8px;
      border: 2.8473281860351562px solid rgba(0, 0, 0, 1);
  }
  .v1_8 {
      width: 17px;
      height: 20px;
      background: rgba(84, 135, 255, 1);
      opacity: 1;
      position: absolute;
      top: 7px;
      left: 8px;
  }
  .v1_9 {
      width: 35px;
      height: 35px;
      background: rgba(255, 255, 255, 1);
      opacity: 1;
      position: absolute;
      top: 216px;
      left: 33px;
      overflow: hidden;
  }
  .v1_10 {
    width: 35px;
    height: 35px;
    background: url("../assets/restaurant.svg");
    background-size: 35px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .v1_11 {
      width: 13px;
      height: 21px;
      background: rgba(0, 0, 0, 1);
      opacity: 1;
      position: absolute;
      top: 7px;
      left: 11px;
      border: 2.8473281860351562px solid rgba(0, 0, 0, 1);
  }
  .v1_12 {
      width: 13px;
      height: 21px;
      background: rgba(250, 27, 27, 1);
      opacity: 1;
      position: absolute;
      top: 7px;
      left: 11px;
  }
  .v1_13 {
      width: 35px;
      height: 35px;
      background: rgba(255, 255, 255, 1);
      opacity: 1;
      background-image: url("../assets/shop.svg");
      background-size: 35px;
      position: absolute;
      top: 261px;
      left: 34px;
      overflow: hidden;
  }
  .v1_15 {
      width: 19px;
      height: 18px;
      background: rgba(0, 0, 0, 1);
      opacity: 1;
      position: absolute;
      top: 9px;
      left: 8px;
      border: 2.8473281860351562px solid rgba(0, 0, 0, 1);
  }
  .v1_16 {
      width: 19px;
      height: 18px;
      background: rgba(25, 153, 23, 1);
      opacity: 1;
      position: absolute;
      top: 9px;
      left: 8px;
  }
  .v1_17 {
      width: 301px;
      color: rgba(0, 0, 0, 1);
      position: absolute;
      top: 10px;
      left: 19px;
      font-family: Inter;
      font-weight: Regular;
      font-size: 21px;
      opacity: 1;
      text-align: left;
  }
  .v1_18 {
      width: 64px;
      height: 64px;
      background: rgba(215, 173, 173, 1);
      opacity: 1;
      position: absolute;
      top: 62px;
      left: 11px;
      border-radius: 50%;
  }
  .v1_19 {
      width: 235px;
      color: rgba(0, 0, 0, 1);
      position: absolute;
      top: 41px;
      left: 91px;
      font-family: Inter;
      font-weight: Regular;
      font-size: 12px;
      opacity: 1;
      text-align: left;
  }
  .v1_21 {
      width: 32px;
      height: 32px;
      background: rgba(250, 240, 2, 1);
      opacity: 1;
      position: absolute;
      top: 363px;
      left: 36px;
      overflow: hidden;
  }
  .v1_22 {
      width: 202px;
      color: rgba(0, 0, 0, 1);
      position: absolute;
      top: 173px;
      left: 139px;
      font-family: Inter;
      font-weight: Regular;
      font-size: 14px;
      opacity: 1;
      text-align: left;
  }
  .v19_5 {
      width: 20px;
      height: 20px;
      opacity: 1;
      background-image: url("../assets/about.svg");
      background-size: 20px;
      cursor:pointer;
      position: absolute;
      top: 409px;
      left: 296px;
  }
  .v19_3 {
      width: 20px;
      height: 19px;
      opacity: 1;
      background-image: url("../assets/github.svg");
      background-size: 20px;
      cursor:pointer;
      position: absolute;
      top: 409px;
      left: 325px;
  }
  .v1_26 {
      width: 202px;
      color: rgba(0, 0, 0, 1);
      position: absolute;
      top: 361px;
      left: 131px;
      font-family: Inter;
      font-weight: Regular;
      font-size: 14px;
      opacity: 1;
      text-align: left;
  }