html,
body,
main,
#map {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #fff;
  color:#dddddd;
  display: flex;
  flex-flow: column;
  font-family: "Source Sans Pro", sans-serif;
  /* font-family: 'Sorts Mill Goudy', serif; */
  /* font-family: 'Fira Sans', sans-serif; */
  /* font-family: 'Noto Serif', serif; */
  /* overflow-y: hidden; */
}

.welcome-content {
  font-size: small
}

.welcome-content>img {

  float: right;
  width: 200px;
  margin: 5px
}

#loader {
  position: fixed;
  width: 100%;

  height: 100vh;
  top: 0;
  bottom: 0;
  z-index: 9999;
  background: url("../img/loading.gif") 50% 50% no-repeat white;
  opacity: 1;
}

#info {
  z-index: 100;
  position: fixed;
  left: 1em;
  top: 1em;
  width: 32em;
  padding: 1em 1em;
  font-size: 11pt;
  /* line-height: 1.2; */
  /* background: rgba(255, 254, 254, .9);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2); */
  background: rgba(26, 24, 24, 0.9);
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.2);
  border-radius: 0.3em;
}

#title {
  color: white;
  font-weight: 800;
  font-family: 'Oswald', sans-serif;
}

.form-check-label {
  font-size: small;
}

#featureInfo {
  z-index: 100;
  position: fixed;
  left: 1em;
  top: 17em;
  bottom: 3.5em;
  width: 32em;
  padding: 1em 1em;
  font-size: 11pt;
  background: rgba(26, 24, 24, 0.9);
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.2);
  border-radius: 0.3em;
}

#featurePrompt{
  font-size: 11pt;
  /* line-height: 1.2; */
}
#promptHighlight{
  text-decoration:none;
  text-decoration-style: dotted;
  font-style: italic;
}
#reviewPanel, #reviewList {
  position: relative;
  margin-left: 1em;
  margin-right: 1em;
}

#reviewPanel > div, #reviewList > div {
  margin-top: 1em;
  margin-bottom: 1em;
}

#reviewPanel{
  padding-bottom: 200px;
}
#review-submit{

  position: absolute;
  display: inline-block;
  left: 0em;
  width:6em;
  font-size: 11pt;
}


.layer-controls > .col {
  padding-left: 0;
  padding-right: 0;
}
.form-control {
  opacity: 0.6;
}


.memory-entry{
  font-size:10pt;
  
  margin-bottom: 0.5em;
}

.contributor-name{
  font-size:14pt;
  color: whitesmoke;
  font-weight: 600;

}

.contributor-name >ã€€canvas{
  display: block;
  margin: 0 auto;
}


.mentioned {
  margin-left: 0.1em;
  color: rgba(245, 245, 245, 0.3)
}
.memory-content{
  font-size:11.5pt;
  color:#c5c4c4;
  
}

.created_at {
  font-style: italic;
  color: rgba(245, 245, 245, 0.3);
  font-size: 10.5pt;
}


#links {
  z-index: 100;
  position: fixed;
  right: 3.5em;
  top: 0.6em;
  width: 33em;
 
}
#links-container {
  display: flex;
  justify-content: end;
}
#links-container > a {
  margin-left: 1em;
  color: white;
  /* text-shadow: 0 0 3px #000000; */
  text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
  padding-right: 0.5em;
  font-size: medium; 
  text-decoration: none;
  
}

.welcome-content, #nextTimeLabel, .modal-title {
  color:rgb(29, 29, 29);
}
.desc{

  color:rgb(29, 29, 29);
  font-weight: 800;

}
input {
  cursor: pointer;
}

.layer-controls>div {
  font-size: smaller;
  padding-bottom: .75em;
}
.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  }

/* attribution panel */
#attribution {
  position: absolute;
  width: 30.2em;
  bottom: 0em;
  left: 0em;
  text-shadow: 2px 2px 4px gray;
  transition: left 1s;
  color: white;
}

#logos {
  position: relative;
  width: 4em;
  bottom: -3.5em;
}

#acknowledge {
  /* display:flex; */
  position: relative;
  text-align: left;
  font-size: 9pt;
  left: 4em;
  bottom: -0.8em;
  
}

#acknowledge > a {
  color: rgb(220, 220, 220);
}

#police-legend{
  display: inline-block;
  border-radius: 15%;
  width: 2em;
  height: 1em;
  margin-left: 0.3em;
  margin-right: 0.3em;
  background-color: red;
  vertical-align: middle;
}

#speech-legend{
  display: inline-block;
  border-radius: 15%;
  width: 2em;
  height: 1em;
  margin-left: 0.3em;
  margin-right: 0.3em;
  background-color: orange;
  vertical-align: middle;
}

#boundary-legend{
  display: inline-block;
  border-radius: 15%;
  width: 2em;
  height: 1em;
  margin-left: 0.3em;
  margin-right: 0.3em;
  background-color: blue;
  vertical-align: middle;
}


#drone-legend{
  display: inline-block;
  border-radius: 15%;
  width: 2em;
  height: 1em;
  margin-left: 0.3em;
  margin-right: 0.3em;
  background-image: linear-gradient(to right, red, yellow, green);
  /* background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); */
  vertical-align: middle;
}

#graffito-legend{
  display: inline-block;
  border-radius: 15%;
  width: 2em;
  height: 1em;
  margin-left: 0.3em;
  margin-right: 0.3em;
  background-color: yellow;
  vertical-align: middle;
}

#memory-legend {
  display: inline-block;
  border-radius: 15%;
  width: 2em;
  height: 1em;
  margin-left: 0.3em;
  margin-right: 0.3em;
  background-color: purple;
  vertical-align: middle;
}

.form-check-input {

  background-color: whitesmoke;
}
.form-check-input:checked{
  background-color:#0f4e7e;
  border-color: rgb(29, 29, 29);
}

.btn-primary {
  color:#dddddd;
  opacity: 0.8;
  background-color:#0f4e7e;
  border-color: rgb(29, 29, 29);

}
.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

.form-container input[type=text],
.form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

.form-container .cancel {
  background-color: red;
}

.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}




