html,
body,
main,
#map {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #fff;
  color: #dddddd;
  display: flex;
  flex-flow: column;
  font-family: "Source Sans Pro", sans-serif;
  /* font-family: 'Sorts Mill Goudy', serif; */
  /* font-family: 'Fira Sans', sans-serif; */
  /* font-family: 'Noto Serif', serif; */
  /* overflow-y: hidden; */
}


#loader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  z-index: 99;
  background: url("../img/loading.gif") 50% 50% no-repeat white;
  opacity: 1;
}


/* welcome panel */
.welcome-content {
  font-size: small;
}

.welcome-content>img {
  float: right;
  width: 200px;
  margin: 5px
}

.modal-footer {
  font-size: medium
}

#nextTimeSwitcher {
  font-size: medium;
}



/* basic map panel layout */

.map-panel {
  z-index: 10;
  position: fixed;
  left: 1em;
  padding: 1em 1em;
  width: 32em;
  font-size: 11pt;
  background: rgba(26, 24, 24, 0.9);
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.2);
  border-radius: 0.3em;
}

#info {
  top: 1em;
  width: 32em;
}

#title {
  color: white;
  font-weight: 500;
  font-size: 20pt;
  /* font-family: 'Oswald', sans-serif; */
  font-family: 'Barlow Condensed', sans-serif;

}


/* legend */

.legend {

  display: inline-block;
  border-radius: 15%;
  width: 2em;
  height: 1em;
  margin-left: 0.3em;
  margin-right: 0.3em;
  vertical-align: middle;
}

.police {
  background-color: red;
}

.speech {
  background-color: orange;
}

.boundary {
  background-color: blue;
}

.drone {
  background-image: linear-gradient(to right, red, yellow, green);
}

.graffito {
  background-color: yellow;
}

.memory {

  background-color: purple;
}



#memory-panel {

  top: 17em;
  height: 13.25em;
  padding-top: 0.75em;
}


#memory-panel>div {
  margin-top: .8em;
  margin-bottom: .8em;
}


#memory-submit {
  position: absolute;
  display: inline-block;
  margin-left: 0.6em;
  width: 6em;
  right: 1em;
}


#memory-list {

  top: 31.2em;
  bottom: 4em;

}


.memory-entry {
  font-size: 10pt;
  margin-bottom: 0.5em;
}

.memory-entry-bottom {
  position: relative;
  padding-bottom: 500px;
}

.contributor-name {
  font-size: 14pt;
  color: whitesmoke;
  font-weight: 600;


}

.contributor-name > canvas {
  display:inline-block;
  margin: 0 auto;
}


.mentioned {
  margin-left: 0.1em;
  color: rgba(245, 245, 245, 0.3)
}

.memory-content {
  font-size: 11.5pt;
  color: #c5c4c4;

}

.created_at {
  font-style: italic;
  color: rgba(245, 245, 245, 0.3);
  font-size: 10.5pt;
}


#links {
  z-index: 100;
  position: fixed;
  right: 3.5em;
  top: 0.6em;
  width: 33em;

}

#links-container {
  display: flex;
  justify-content: end;
}

#links-container>a {
  margin-left: 1em;
  color: white;
  /* text-shadow: 0 0 3px #000000; */
  text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
  padding-right: 0.5em;
  font-size: medium;
  text-decoration: none;

}

.welcome-content,
#nextTimeLabel,
.modal-title {
  color: rgb(29, 29, 29);
}




/* attribution panel */
#attribution {
  position: absolute;
  width: 27em;
  bottom: 0em;
  left: 0em;
  text-shadow: 2px 2px 4px gray;
  transition: left 1s;
  color: white;
}

#logos {
  position: relative;
  width: 4em;
  bottom: -3.5em;
}

#acknowledge {
  /* display:flex; */
  position: relative;
  text-align: left;
  font-size: 9pt;
  left: 4em;
  bottom: -0.8em;

}

#acknowledge>a {
  color: rgb(220, 220, 220);
}



/* fundamental libraries */


input {
  cursor: pointer;
}


.form-control {
  opacity: 0.5;
  font-size: 11pt;
}


.form-switch {
  padding-left: 0;
  padding-right: 0;
  margin-left: 2em;
  font-size: smaller;
  padding-bottom: .5em;
}


.form-check-input {
  background-color: rgb(173, 173, 173);
  display: inline-block;
  vertical-align: middle;
  /* font-size:small; */
}



.form-check-input:checked {
  background-color: #0f4e7e;
  border-color: rgb(29, 29, 29);
}


.btn {
  color: #dddddd;
  opacity: 0.8;
  height: 2em;
  background-color: #0f4e7e;
  border-color: rgb(29, 29, 29);
  padding-bottom: 2rem;
  /* vertical-align: middle; */

}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content,
#alert-text {
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 200;
  color: rgb(29, 29, 29);
  font-size: 10.5pt;
  font-weight: 800;
}