body {
    margin: 0;
    padding: 0;
}

.map-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.2);
  margin-left: 20px;
  font-family: Arial, sans-serif;
  overflow: auto;
  border-radius: 3px;
}

#features {
    top: 0;
    height: 100px;
    margin-top: 20px;
    width: 300px;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

/* the style of the layer control menu */
#menu {
    background: #fff;
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 10px;
    border-radius: 3px;
    width: 120px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    font-family: 'Open Sans', sans-serif;
}

/* each layer on the menu */
#menu a {
    font-size: 13px;
    color: #404040;
    display: block;
    margin: 0;
    padding: 0;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    text-align: center;
}

/* the last item of the layer items will not include a seperator */
#menu a:last-child {
    border: none;
}

/* change color and background color while a pointer is on an hybrid link. */
#menu a:hover {
    background-color: #f8f8f8;
    color: #404040;
}

#menu a.active {
    background-color: #3887be;
    color: #ffffff;
}

#menu a.active:hover {
    background: #3074a4;
}

#info {
    position: fixed;
    z-index: 1000;
    bottom: 10px;
    width: 500px;
    font-size: 1em;
    color: #333333;
    left: 10px;
    padding: 6px 8px;
    background: rgba(225, 225, 225, 1.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }

.right-text{
    width:50%;
    float:right;
    display: inline;
}
.left-picture{
    float:left;
    width:50%;
}

#test {
    -moz-hyphens:auto;
    -ms-hyphens:auto;
    -webkit-hyphens:auto;
    hyphens:auto;
    word-wrap:break-word;
    }

#fit {
    display: block;
    position: relative;
    top: 10px;
    margin: 0px auto;
    width: 38%;
    height: 40px;
    padding: 0px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    background: #ee8a65;
    }