html,
body,
main,
#map {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #fff;
  color: #dddddd;
  display: flex;
  flex-flow: column;
  font-family: "Source Sans Pro", sans-serif;
}



@media only screen and (max-width: 1160px) {
  #links {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  #links {
    display: none;
  }

  #info {
    display: none !important;
  }

  #attribution {
    display: none !important;
  }
  .mapboxgl-ctrl-top-right {
    display: none;
  }

}

@media only screen and (max-height: 400px) {
  #links {
    display: none;
  }

  #info {
    display: none !important;
  }

  .mapboxgl-ctrl-top-right {
    display: none;
  }
}


@media (max-width: 768px) {
  #memory-panel {
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  #memory-list {
    width: 100%;
  }
}

#loader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  z-index: 999;
  background: url("../img/loading.gif") 50% 50% no-repeat white;
  opacity: 1;
}


/* welcome panel */

.map-window {
  --bs-modal-bg: rgba(26, 24, 24, 0.75);
  --bs-modal-header-border-color: rgba(158, 153, 153, 0.205);
  --bs-modal-footer-border-color: rgba(158, 153, 153, 0.205);
  color: #dddddd;
}

.map-window-content {
  font-size: small;
}

.map-window-content>img {
  float: right;
  width: 200px;
  margin: 5px
}

/* .map-window-content, */
.modal-title,
#nextTimeLabel {
  color: #dddddd;
}

.modal {
  background-color: rgba(0, 0, 0, 0.55);
}


#nextTimeSwitcher {
  font-size: medium;
}

#sidebar {
  display: flex;
  flex-direction: column;
}

/* basic map panel layout */

.map-panel {
  z-index: 10;
  padding: 1em 1em;
  width: 32em;
  font-size: 11pt;
  background: rgba(26, 24, 24, 0.9);
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.2);
  border-radius: 0.3em;
}


#info {
  top: 1em;
}

#title {
  color: white;
  font-weight: 500;
  font-size: 20pt;
  /* font-family: 'Oswald', sans-serif; */
  font-family: 'Barlow Condensed', sans-serif;
}


#info > p, #info > ul {
  margin-bottom: 0.2em;
}

#map {
  position:fixed;
}
/* legend */

.legend {
  display: inline-block;
  border-radius: 15%;
  width: 2em;
  height: 1em;
  margin-left: 0.3em;
  margin-right: 0.3em;
  vertical-align: middle;
}

.police {
  background-color: red;
}

.speech {
  background-color: orange;
}

.bldgs {
  background-color: #aaa;
}

.boundary {
  background-color: #0080ff;
}

.drone {
  background-image: linear-gradient(to right, red, yellow, green);
}

.graffito {
  background-color: yellow;
}

.memory {
  background-color: purple;
}

.poi-label {
  background-color: #0080ff;
}

.word-cloud {
  background-color: limegreen;
}


#memory-panel {
  height: 13.25em;
  padding-top: 0.75em;
}


#memory-panel>div {
  margin-top: .8em;
  margin-bottom: .8em;
}

.iv-tooltip {
  position: relative;
  z-index: 5;
  max-width: 100%;
  padding: 0.25rem 0.5rem;
  margin-top: 0.1rem;
  font-size: 11pt;
  color: #fff;
  background-color: rgba(220, 53, 69, .9);
  border-radius: 0.25rem;
}


#memory-submit {
  display: inline-block;
  margin-left: 0.6em;
  width: 6em;
  margin-right: 1em;
}


#memory-list {
  max-height: 18em;
  overflow-y: auto;
}


#location-title {
  color: white;
  font-weight: 500;
  margin-bottom: 0em;
  font-size: 16pt;
  /* font-family: 'Oswald', sans-serif; */
  font-family: 'Barlow Condensed', sans-serif;
}


.graffiti-prompt{
  font-size: 14pt;
  font-family: 'Barlow Condensed', sans-serif;
}

.graffito-box {

  border: 1px solid #747474b2;
  background-color: #000000;
  color:rgba(238, 238, 238, 0.70);
  font-weight: 800;
  font-size:small;
  padding-left: 0.3em;
  padding-right: 0.3em;
  margin-left: 0.2em;
  margin-right: 0.2em;
}

.memory-prompt, .poi-prompt{
  font-size: 14pt;
  font-family: 'Barlow Condensed', sans-serif;
  margin-bottom: 0.5em;
}

.memory-entry {
  font-size: 10pt;
  margin-bottom: 0.25em;
}

hr{
  margin-top:.5em;
  margin-bottom: .5em;
}
.memory-entry-bottom {
  position: relative;
  padding-bottom: 500px;
}

.contributor-name {
  font-size: 12pt;
  color: rgba(245, 245, 245, 0.884);
  font-weight: 600;
}

.contributor-name>canvas {
  display: inline-block;
  margin: 0 auto;
}

.mentioned {
  margin-left: 0.1em;
  color: rgba(245, 245, 245, 0.3)
}

.memory-content {
  font-size: 11.5pt;
  color: #c5c4c4;

}

.created_at {
  font-style: italic;
  color: rgba(245, 245, 245, 0.3);
  font-size: 10.5pt;
}


#links {
  z-index: 100;
  position: fixed;
  right: 3.5em;
  top: 0.6em;
}

#links-container {
  display: block;
  justify-content: end;
}

#links-container>a {
  margin-left: 1em;
  color: white;
  /* text-shadow: 0 0 3px #000000; */
  text-shadow: 1px 1px 2px rgb(68, 68, 68), 0 0 25px rgb(73, 73, 73), 0 0 5px rgb(100, 100, 100);
  padding-right: 1em;
  margin: 0;
  font-size: medium;
  text-decoration: none;
}


/* attribution panel */
#attribution {
  position: absolute;
  width: 30em;
  bottom: 0em;
  left: 0em;
  text-shadow: 2px 2px 4px gray;
  transition: left 1s;
  color: white;
}

#logos {
  position: relative;
  width: 4em;
  bottom: -3.5em;
}

#acknowledge {
  /* display:flex; */
  position: relative;
  text-align: left;
  font-size: 9pt;
  left: 4em;
  bottom: -0.8em;

}

#acknowledge>a {
  color: rgb(220, 220, 220);
}

/* team */
.img-thumbnail {
  padding: 0.1rem;
  margin-right: 1em;
  width: 80px;
  background-color: rgba(255, 255, 255, 0.733);
  border: 1px solid #dee2e6b2;
  border-radius: 0.25rem;
  max-width: 100%;
  float: left;
  height: auto;
}

.teammember {
  padding-left: 1.5em;
  padding-right: 2em;
  padding-top: 0.5em;
  /* height: 12em; */
  /* padding-bottom: 1.5em; */
}

.teammember>p {
  margin: 0;
}

.member-name {
  font-size: large;
  color: white
}

a.about-social-link {
  margin-left: 0.5em;
  font-size: 11pt;
  color: gray
}

.team-position {
  font-size: medium;
  font-style: italic;
  margin-bottom: .5em !important;
  color: rgb(173, 173, 173)
}

.member-bio {
  font-size: 11.5pt;
  color: #eee;
}




/* statement */

#first-para::first-letter {
  float: left;
  font-size: 40pt;
  line-height: 30px;
  padding-top: 12px;
  padding-right: 10px;
  margin-bottom: 0;
  /* color: orangered; */

}

div#statement p {

  font-family: 'Sorts Mill Goudy', serif;
}

.map-window-content a {
  color:#777777
}

p a{

  color:#777777
}

/* fundamental libraries */
input {
  cursor: pointer;
}


.form-control {
  opacity: 0.5;
  font-size: 11pt;
}


.form-switch {
  padding-left: 0;
  padding-right: 0;
  margin-left: 2em;
  font-size: smaller;
  padding-bottom: .5em;
}


.form-check-input {
  background-color: rgb(173, 173, 173);
  display: inline-block;
  vertical-align: middle;
  /* font-size:small; */
}



.form-check-input:checked {
  background-color: #0f4e7e;
  border-color: rgb(29, 29, 29);
}

.form-check-label {
  font-size: small;
  vertical-align: middle;
}

.btn {
  color: #dddddd;
  opacity: 0.8;
  height: 2em;
  background-color: #0f4e7e;
  border-color: rgb(29, 29, 29);
  padding-bottom: 2rem;
  /* vertical-align: middle; */
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 200;
  color: rgb(29, 29, 29);
  font-size: 10.5pt;
  font-weight: 800;
}

/* instruction */

.introjs-bottom-left-aligned{
  /* margin:0; */

  color: #dddddd;
  font-family: "Source Sans Pro", sans-serif;
  background: rgba(26, 24, 24, 0.9);
  /* left: 1em; */
  font-size: 11pt;

  /* border-radius: 0.3em; */
}
.introjs-tooltip{
max-width: 40vw;;
}


.introjs-skipbutton{
  /* width:25px;
  height: 25px; */
  top:-.7em;
  right:-.5em;
}

.introjs-tooltiptext {
  font-size: small;
  padding:.5em;
}

.introjs-tooltipbuttons{
  font-family: "Source Sans Pro", sans-serif;
  background: rgba(26, 24, 24, 0.9);
  padding: 0;
  font-size: 12pt;
  border:0px solid #83828271;
}
.introjs-button{
  font-family: "Source Sans Pro", sans-serif;
  padding-top:0;
  margin-top:0.7em;
  margin-bottom:.5em;
  margin-right:1em;
  margin-left:1em;
  border:1px solid #83828271;
  
}

.introjs-fixedTooltip{
  background: rgba(26, 24, 24, 0.0);
  border:2px solid #ffffffc7;
}

.grecaptcha-badge { 
  bottom:30px !important; 
}