body {
    margin: 0;
    padding: 0;
}

.map-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.2);
  margin-left: 20px;
  font-family: Arial, sans-serif;
  overflow: auto;
  border-radius: 3px;
}

#features {
    top: 0;
    height: 100px;
    margin-top: 20px;
    width: 300px;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

/* the style of the layer control menu */
#menu {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    position: absolute;
    z-index: 1;
    top: 150px;
    left: 10px;
    border-radius: 15px;
    width: auto;
    border: 1px solid rgba(0, 0, 0, 0.4);
    font-family: 'Open Sans', sans-serif;
}


/* each layer on the menu */
#menu a {
    font-size: 13px;
    color: #404040;
    display: block;
    margin: 0;
    padding: 0;
    padding: 10px;
    text-decoration: none;
    border-radius: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    text-align: center;
}

/* the last item of the layer items will not include a seperator */
#menu a:last-child {
    border: none;
}

/* change color and background color while a pointer is on an hybrid link. */
#menu a:hover {
    background-color: #f8f8f8;
    color: #404040;
}

#menu a.active {
    background-color: #000000;
    color: #ffffff;
}

#menu a.active:hover {
    background: #000000;
}

#info {
    position: fixed;
    z-index: 100;
    bottom: 10px;
    width: 361px;
    opacity: 1;
    font-size: 1em;
    color: #333333;
    left: 10px;
    padding: 6px 8px;
    background: rgba(255, 254, 254, 1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    
  }

.right-text{
    width:50%;
    float:right;
    display: inline;
}
.left-picture{
    float:left;
    width:50%;
}

#test {
    -moz-hyphens:auto;
    -ms-hyphens:auto;
    -webkit-hyphens:auto;
    hyphens:auto;
    word-wrap:break-word;
    }

#fit {
    align-items: center;
    appearance: none;
    background-color: #fff;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    display: block;
    fill: currentcolor;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    top: 20px;
    margin: 0px auto;
    text-align: center;
    width: auto;
    z-index: 0;
    }
    .v4_75 {
        width: 373px;
        height: 435px;
        background: url("../images/v4_75.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        opacity: 1;
        position: relative;
        top: 0px;
        left: 0px;
        overflow: hidden;
      }
      .v4_74 {
        width: 361px;
        height: 435px;
        background: rgba(255,254,254,1);
        opacity: 1;
        position: relative;
        top: 0px;
        left: 0px;
        border: 0.7118320465087891px solid rgba(0,0,0,1);
        border-radius: 15px;
        box-shadow: 0px 2.8473281860351562px 2px rgba(0, 0, 0, 0.25);
        overflow: hidden;
      }
      .v1_20 {
        width: 32px;
        height: 32px;
        background: rgba(0,255,209,1);
        opacity: 1;
        position: absolute;
        top: 326px;
        left: 34px;
        overflow: hidden;
      }
      .v1_23 {
        width: 202px;
        color: rgba(0,0,0,1);
        position: absolute;
        top: 238px;
        left: 130px;
        font-family: Inter;
        font-weight: Regular;
        font-size: 14px;
        opacity: 1;
        text-align: left;
      }
      .v1_24 {
        width: 202px;
        color: rgba(0,0,0,1);
        position: absolute;
        top: 282px;
        left: 158px;
        font-family: Inter;
        font-weight: Regular;
        font-size: 14px;
        opacity: 1;
        text-align: left;
      }
      .v1_25 {
        width: 202px;
        color: rgba(0,0,0,1);
        position: absolute;
        top: 328px;
        left: 170px;
        font-family: Inter;
        font-weight: Regular;
        font-size: 14px;
        opacity: 1;
        text-align: left;
      }
      .v1_5 {
        width: 35px;
        height: 35px;
        background: rgba(255,255,255,1);
        opacity: 1;
        position: absolute;
        top: 178px;
        left: 33px;
        overflow: hidden;
      }
      .v1_6 {
        width: 35px;
        height: 35px;
        background: url("../assets/police.svg");
        background-size: 35px;
        opacity: 1;
        position: absolute;
        top: 0px;
        left: 0px;
      }
      .v1_9 {
        width: 35px;
        height: 35px;
        background: rgba(255,255,255,1);
        opacity: 1;
        position: absolute;
        top: 231px;
        left: 32px;
        overflow: hidden;
      }
      .v1_10 {
        width: 35px;
        height: 35px;
        background: url("../assets/restaurant.svg");
        background-size: 35px;
        opacity: 1;
        position: absolute;
        top: 0px;
        left: 0px;
      }
      .v1_13 {
        width: 35px;
        height: 35px;
        background: rgba(255,255,255,1);
        opacity: 1;
        background-image: url("../assets/shop.svg");
        background-size: 35px;
        position: absolute;
        top: 273px;
        left: 31px;
        overflow: hidden;
      }
      .v1_17 {
        width: 301px;
        color: rgba(0,0,0,1);
        position: absolute;
        top: 9px;
        left: 41px;
        font-family: Inter;
        font-weight: Regular;
        font-size: 21px;
        opacity: 1;
        text-align: left;
      }
      .v1_18 {
        width: 64px;
        height: 64px;
        background: rgba(215,173,173,1);
        opacity: 1;
        position: absolute;
        top: 65px;
        left: 21px;
        border-radius: 50%;
      }
      .v1_19 {
        width: 235px;
        color: rgba(0,0,0,1);
        position: absolute;
        top: 41px;
        left: 105px;
        font-family: Inter;
        font-weight: Regular;
        font-size: 12px;
        opacity: 1;
        text-align: left;
      }
      .v1_21 {
        width: 32px;
        height: 32px;
        background: rgba(250,240,2,1);
        opacity: 1;
        position: absolute;
        top: 375px;
        left: 35px;
        overflow: hidden;
      }
      .v1_22 {
        width: 202px;
        color: rgba(0,0,0,1);
        position: absolute;
        top: 189px;
        left: 138px;
        font-family: Inter;
        font-weight: Regular;
        font-size: 14px;
        opacity: 1;
        text-align: left;
      }
      .v1_26 {
        width: 202px;
        color: rgba(0,0,0,1);
        position: absolute;
        top: 377px;
        left: 131px;
        font-family: Inter;
        font-weight: Regular;
        font-size: 14px;
        opacity: 1;
        text-align: left;
      }